# Here we set a bunch of parameters for your image build

# output image name, usually same as repo name, change as needed
IMAGE_NAME=calos

# Make this the same as your github username/organisation
REPO_ORGANIZATION="callenflynn"

IMAGE_DESC="CalOS - A custom Fedora Atomic desktop built on Bluefin"
IMAGE_KEYWORDS="calos,bluefin,bootc,oci,linux,atomic,gnome"

# Put your own image here for a fancy profile on https://artifacthub.io/!
IMAGE_LOGO_URL="https://raw.githubusercontent.com/callenflynn/CalOS/main/CalOS/CalOS.png"
DEFAULT_TAG="latest"
BIB_IMAGE="quay.io/centos-bootc/bootc-image-builder:latest"
